<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
    </head>    
    <%- include('../includes/nav.ejs') %>
    <form class="form" action="/admin/addUser %>" method="POST">
        <div class="form-control">
            <h2 class="form-title">Add Manager</h2>
        </div>
        <div class="form-control">
            <label for="title">Name</label>
            <input type="text" name="name" id="name" value="">
        </div>
        <div class="form-control">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" value="">
        </div>
       
        <input type="hidden" value="<%= user.league %>" name="league">
        <input type="hidden" value="league_manager" name="rank">
        <input type="hidden" value="1234" name="password">
        <% if (message!==""){%>
            <p class="error"><%= message %></p>
        <% } %>    
        <button class="btn" type="submit"> Add </button>
    </form>
    <script src="/js/main.js"></script>
</html>