<header class="header bg-black white-80 avenir">
 
  <nav>
  <ul class="list pl0 mt0 center dib">
    <a class="f5 link white-80 hover-bg-light-blue dib pa3 <%= path === '/index' ? 'blue' : '' %>" href="/admin">Home</a>
    <a class="f5 link white-80 hover-bg-light-blue dib pa3 <%= path === '/addPlayer' ? 'blue' : '' %>" href="/admin/addPlayer">Schedule</a>
    <a class="f5 link white-80 hover-bg-light-blue dib pa3 <%= path === '/addPlayer' ? 'blue' : '' %>" href="/admin/addPlayer">Stats</a>
  </ul>
  <ul class="fr list pl0 mt0 center dib">
    <a class="f5 link white-80 hover-bg-light-blue dib pa3 tr" href="/admin/Logout">Log out</a>
  </ul>
   
  
</nav>
</header>



