<nav class="navbar navbar-expand-lg bg-dark border-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-ex-13">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse tc" id="navbar-ex-13">
        <div class="navbar-nav me-auto tc" >
          <a class="nav-item nav-link active hover-light-blue <%= title === 'standings' ? 'blue' : '' %>" href="/">Standings</a>
          <a class="nav-item nav-link hover-light-blue  <%= title === 'teams' ? 'blue' : '' %>" href="/teams">Teams</a>
          <a class="nav-item nav-link hover-light-blue  <%= title === 'matches' ? 'blue' : '' %>" href="/matches">Matches</a>
          <a class="nav-item nav-link hover-light-blue  <%= title === 'stats' ? 'blue' : '' %>" href="/stats">Stats</a>
        </div>

        
      </div>
    </div>
  </nav>