<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <title>Hockey KE | Welcome</title>
</head>

<body>
  <div class="hero-section">
    <div class="hero-image">
    </div>
    <div class="welcome">
      <div class="welcome-text">
        <h1>Experience the Thrill of Field Hockey</h1>
        <p>
          Hockey K.E is Kenya's fastest-growing field hockey community, dedicated to promoting the sport at all levels. Our programs cater to beginners, school teams, and competitive players alike.
        </p>
      </div>
      <div class="action-btn">
        <a href="/register">Signup</a>
      </div>
      <div class="action-btn">
        <a href="/login">Login</a>
      </div>
      <div class="action-btn">
        <a href="/stats">stats</a>
      </div>
      <div class="action-btn">
        <a href="/about">About Us</a>
      </div>
    </div>
  </div>
</body>

</html>