<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/loader.css">
  <link rel="stylesheet" href="/css/register.css">
  <script src="/js/register.js" defer></script>
  <title>Hockey KE | Register</title>
</head>  
<body>
    <div class="auth-form">
        <h1>Signup</h1>
        <input type="text" placeholder="Name" id="name">
        <input type="text" placeholder="email" id="email">
        <input type="password" placeholder="password" id="password">
        <div class="success" id="success"></div>
        <div class="error" id="error"></div>
        <input type="button" value="Signup" id="signup">
        <input type="button" value="Login Instead?" id="login">
    </div>
    <div class="loader" id="loader">
      <div class="spinner"></div>
   </div>
</body>
</html>